$highlight: #FFF7D5;
$highlight-green: #009E9F;
$highlight-green-light: #E5F3F3;

body, html {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.top-bar {
    .header {
        background-color: #111;
        color: #ccc;
        font-size: 15px;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;

        em {
            font-weight: 700;
            color: #ddd;
        }

        a {
            padding: 8px 30px;
            display: inline-block;
            color: #ddd;

            &:hover {
                background-color: #333;
            }
        }
    }

    .navigation {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        background-color: #eee;
        padding: 50px 50px;
        color: #333;
        font-size: 20px;
        text-align: center;
        transition: all 0.4s;
        z-index: 999;

        .selected-dropdown {
            border-color: $highlight-green;
            color: $highlight-green;
        }

        &.condensed {
            text-align: right;
            padding: 10px;
            transition: all 0.4s;

            .dropdown-selector {
                top: 35px;
                transition: all 0.4s;
            }

            .nav-select {
                padding: 7px 12px;
                font-size: 14px;
                transition: all 0.4s;
            }
        }
    }

    .nav-select {
        position: relative;
        transition: all 0.4s;
        border-radius: 5px;
        border: 2px solid #777;
        padding: 12px 24px;
        font-weight: 300px;
        font-size: 22px;
        color: #666;
        display: inline-block;

        &:hover {
            cursor: pointer;
            transition: all 0.2s;
            color: #000;
            border: 2px solid #000;
        }
    }

    .disabled-select {
        opacity: 0.2;
        
        &:hover {
            cursor: pointer;
            color: #666;

            // border: 1px solid #777;

        }
    }

    .arrow {
        transform: scale(0.7, 1);
        font-weight: bold;
        display: inline-block;
        color: #ccc;
        padding: 5px;
        font-family: "Arial", sans-serif;
    }

    .dropdown-arrow {
        transform: translateX(5px) scale(0.8, 1);
        opacity: 0.8;
        display: inline-block;
        padding: 0;
        font-family: "Arial", sans-serif;
    }
}

.gallery-container {
    padding: 50px;
    padding-top: 250px;

    h1 {
        font-size: 40px;
        font-weight: 500;
        color: #ccc;
        margin: 60px 30px 50px;
    }

    h2 {
        font-size: 80px;
        font-weight: 700;
        color: #ccc;
        margin: 30px 30px 0px;
    }

    h3 {
        margin: 3px 30px 30px;
        font-size: 24px;
        color: #666;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.thumbnail-container {
    display: flex;
    width: calc(100% - 40px);
    flex-flow: row wrap;
    padding: 20px;

    a {
        // flex: 1;
        display: block;
        height: 180px;
        width: calc(100% * (1/4) - 20px);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 10px;
        transition: 0.2s all;

        &:hover {
            transition: 0.2s all;
            opacity: 0.7;
        }
    }

    .thumbnail-bg {
        z-index: -1;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;

        .product-info {
            color: #fff;
            padding: 20px;
            align-self: flex-end;
            width: 100%;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

            /* IE6-9 */

            h4 {
                margin-bottom: 3px;
                font-size: 20px;
            }

            p {
                opacity: 0.7;
                font-size: 14px;
            }
        }
    }
}

.project-container {
    padding: 50px;
    padding-top: 250px;

    .project-sidemenu {
        top: 240px;
        position: fixed;
        left: calc(20% - 220px);
        width: 200px;
        text-align: right;
        font-size: 16px;
        line-height: 22px;
        color: #888;

        li {
            &:hover {
                cursor: pointer;
                color: #000;
            }

            &.sidemenu-highlight {
                color: #000;
                font-weight: 700;
                font-size: 1.1em;
                margin: 3px 0;
            }
        }
    }

    .project-content {
        padding-left: 20%;
        clear: both;

        .team-photo {
            margin: 20px 20px 20px 0;
            img {
                margin-right: 10px;
                width: 200px;
            }
        }
    }

    h1 {
        font-size: 20px;
        color: #333;
        margin-bottom: 5px;

        &.condensed {
            opacity: 0;
            transition: all 0.4s;
        }
    }

    h2 {
        position: fixed;
        top: 240px;
        left: calc(30px + 20%);
        font-size: 40px;
        color: #111;
        font-weight: bold;
        font-family: 'Roboto Slab';
        transition: all 0.4s;
        z-index: -1;

        &.condensed {
            left: 50px;
            z-index: 10001;
            top: 40px;
            transition: all 0.4s;
            font-size: 30px;
        }
    }

    h3 {
        border-top: 1px solid #aaa;
        padding-top: 60px;
        text-transform: uppercase;
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 30px;
        color: #ccc;
        font-weight: bold;
        letter-spacing: 3px;
        transition: all 0.4s;
    }

    h4 {
        font-family: 'Roboto Slab';
        font-size: 24px;

        .section-tag {
            margin-right: 5px;
            text-transform: lowercase;
            display: inline-block;
            // border: 2px solid #4A90E2;
            border-width: 2px;
            border-style: solid;
            border-radius: 3px;
            padding: 6px 11px 6px;
            color: #333;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            font-family: 'Roboto Slab';
            position: relative;
            top: -1px;
            z-index: -1;

            em {
                text-transform: uppercase;
                color: #000;
                font-weight: bold;
                font-family: 'Roboto Slab';
            }
        }
    }

    p {
        font-family: 'Roboto Slab';
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .additional-links {
        div {
            margin-bottom: 12px;
        }
        a {
            color: #222;
            // background-color: #eee;
            // border-radius: 2px;
            padding: 4px 10px 4px 6px;
            font-size: 13px;
            font-weight: 400;
            margin-right: 5px;
            transition: all 0.3s;
            border-left: #aaa solid 3px;
            margin-bottom: 4px;

            &:hover {
                color: #000;
                font-weight: 400;
                border-left: #333 solid 3px;
                transition: all 0.3s;
                background-color: #eee;
            }
        }
    }

    .posters {
        margin-bottom: 20px;

        .poster {
            width: 25%;
            max-width: 200px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .milestone-container {
        margin-bottom: 50px;

        .milestone-media {
            display: flex;
            margin-bottom: 15px;
            flex-flow: row wrap;

            iframe {
                margin-right: 15px;
                margin-bottom: 15px;
                max-width: 400px;
            }

            img {
                width: 140px;
                margin-right: 15px;
                float: left;
                margin-bottom: 10px;
                border: 1px solid #ddd;

                &:hover {
                    opacity: 0.7;
                }
            }

            .milestone-images {
                display: inline-block;

                .assembly-image {
                    width: 500px;
                }
            }
        }
    }
}

.dropdown-selector-container {
    transition: all 0.4s;
}

.dropdown-selector {
    //display: none;

    transition: all 0.4s;
    position: absolute;
    z-index: 1992;
    // left: 0;
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    height: 300px;
    top: 70px;
    right: 0;
    padding: 20px;
    text-align: left;
    overflow: scroll;
    font-size: 14px;
    border: 1px solid #eee;
    -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);

    .dim {
        color: #aaa;
        font-size: 12px;
        margin-left: 10px;
    }

    ul {
        // margin-bottom: 100px;
    }

    li {
        border-top: 1px solid #ddd;
    }

    a {
        display: block;
        display: flex;
        align-items: center;

        &:hover {
            background-color: $highlight;
        }

        &.selected-dropdown-item {
            background-color: $highlight-green-light;
        }

        &.select-none {
            padding: 10px;
        }
    }

    .product-text {
        color: #555;
        padding: 10px 20px 10px;
        line-height: normal;
        display: inline-block;
        flex: 1;
    }

    em {
        font-weight: 700;
        color: #111;
    }
}

.year-select {
    .dropdown-selector {
        a {
            padding: 10px 15px;
            color: #555;
            display: block;
        }

        em {
            font-size: 18px;
        }
    }
}

.team-select {
    text-transform: capitalize;
    
    .dropdown-selector {
        width: 400px;

        .product-image {
            width: 90px;
            height: 60px;
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat;
        }
    }
}

.show {
    display: block;
}

@media screen and (max-width: 760px) {
    .thumbnail-container {
        a {
            width: calc(100% * (1/2) - 20px);
        }
    }

    .project-sidemenu {
        display: none;
    }

    .project-container {
        h2 {
            left: 50px;
        }

        .project-content {
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 400px) {
    .project-container {
        padding: 30px;
    }

    .thumbnail-container {
        a {
            width: calc(100% - 20px);
        }
    }
}
