body, html {
  width: 100%;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

.top-bar .header {
  background-color: #111;
  padding: 8px 30px;
  color: #ccc;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .top-bar .header em {
    font-weight: 700;
    color: #ddd; }
.top-bar .navigation {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #eee;
  padding: 50px 50px;
  color: #333;
  font-size: 20px;
  text-align: center;
  transition: all 0.4s; }
  .top-bar .navigation.condensed {
    text-align: right;
    padding: 10px;
    transition: all 0.4s; }
    .top-bar .navigation.condensed .nav-select {
      padding: 2px 10px;
      font-size: 14px;
      transition: all 0.4s; }
.top-bar .nav-select {
  position: relative;
  transition: all 0.4s;
  border-radius: 5px;
  border: 1px solid #777;
  padding: 12px 24px;
  font-weight: 300px;
  font-size: 22px;
  color: #666;
  display: inline-block; }
  .top-bar .nav-select:hover {
    cursor: pointer;
    transition: all 0.4s;
    color: #000;
    border: 1px solid #000; }
.top-bar .disabled-select {
  opacity: 0.3; }
  .top-bar .disabled-select:hover {
    cursor: pointer;
    color: #666;
    border: 1px solid #777; }
.top-bar .arrow {
  transform: scale(0.7, 1);
  font-weight: bold;
  display: inline-block;
  color: #ccc;
  padding: 5px;
  font-family: "Arial", sans-serif; }
.top-bar .dropdown-arrow {
  transform: rotate(90deg) translate(2px, -4px) scale(0.6, 1);
  display: inline-block;
  padding: 5px;
  font-family: "Arial", sans-serif; }

.gallery-container h1 {
  font-size: 40px;
  font-weight: 500;
  color: #ccc;
  margin: 60px 30px 50px; }
.gallery-container h2 {
  font-size: 80px;
  font-weight: 700;
  color: #ccc;
  margin: 30px 30px 0px; }
.gallery-container h3 {
  margin: 3px 30px 30px;
  font-size: 24px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase; }

.thumbnail-container {
  display: flex;
  width: calc(100% - 40px);
  flex-flow: row wrap;
  padding: 20px; }
  .thumbnail-container a {
    display: block;
    height: 180px;
    width: calc(100% * (1/4) - 20px);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 10px;
    transition: 0.2s all; }
    .thumbnail-container a:hover {
      transition: 0.2s all;
      opacity: 0.7; }
  .thumbnail-container .thumbnail-bg {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; }
    .thumbnail-container .thumbnail-bg .product-info {
      color: #fff;
      padding: 20px;
      align-self: flex-end;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .thumbnail-container .thumbnail-bg .product-info h4 {
        margin-bottom: 3px;
        font-size: 20px; }
      .thumbnail-container .thumbnail-bg .product-info p {
        opacity: 0.7;
        font-size: 14px; }

.project-container {
  padding: 50px;
  padding-top: 300px; }
  .project-container h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px; }
    .project-container h1.condensed {
      opacity: 0;
      transition: all 0.4s; }
  .project-container h2 {
    position: fixed;
    top: 240px;
    left: 50px;
    font-size: 40px;
    color: #111;
    font-weight: bold;
    font-family: 'Roboto Slab';
    transition: all 0.4s;
    z-index: -1; }
    .project-container h2.condensed {
      z-index: 5;
      top: 40px;
      transition: all 0.4s;
      font-size: 30px; }
  .project-container h3 {
    border-top: 1px solid #aaa;
    padding-top: 60px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 30px;
    color: #ccc;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 0.4s; }
  .project-container h4 {
    font-family: 'Roboto Slab';
    font-size: 24px; }
    .project-container h4 .section-tag {
      margin-right: 5px;
      text-transform: lowercase;
      display: inline-block;
      border: 2px solid #4A90E2;
      border-radius: 3px;
      padding: 6px 10px 6px;
      color: #333;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
      font-family: 'Roboto Slab'; }
      .project-container h4 .section-tag em {
        font-size: 26px;
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
        font-family: 'Roboto Slab'; }
  .project-container p {
    font-family: 'Roboto Slab';
    font-size: 14px;
    line-height: 1.5; }
  .project-container .additional-links a {
    color: #222;
    background-color: #eee;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 400;
    margin-right: 5px;
    transition: all 0.3s; }
    .project-container .additional-links a:hover {
      color: #eee;
      background-color: #333;
      transition: all 0.3s; }
  .project-container .posters {
    margin-bottom: 20px; }
    .project-container .posters .poster {
      width: 200px;
      margin-right: 10px; }
      .project-container .posters .poster:last-child {
        margin-right: 0; }
  .project-container .sketch-model {
    margin-bottom: 50px; }
    .project-container .sketch-model .sketch-model-media {
      display: flex;
      margin-bottom: 15px; }
      .project-container .sketch-model .sketch-model-media iframe {
        margin-right: 20px; }
      .project-container .sketch-model .sketch-model-media img {
        width: 200px;
        margin-right: 20px;
        float: left;
        margin-bottom: 10px; }
      .project-container .sketch-model .sketch-model-media .sketch-model-images {
        display: inline-block; }

.dropdown-selector {
  position: absolute;
  z-index: 1992;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  width: 400px;
  height: 300px;
  top: 70px;
  padding: 20px;
  text-align: left;
  overflow: scroll;
  font-size: 18px;
  border: 1px solid #eee;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1); }
  .dropdown-selector .dim {
    color: #ccc;
    font-size: 14px; }
  .dropdown-selector ul {
    margin-bottom: 100px; }
  .dropdown-selector a {
    color: #555;
    padding: 14px 10px 10px;
    border-top: 1px solid #111;
    line-height: normal;
    display: block; }
    .dropdown-selector a:hover {
      background-color: #FFF7D5; }
  .dropdown-selector em {
    font-weight: 700;
    color: #111; }

@media screen and (max-width: 760px) {
  .thumbnail-container a {
    width: calc(100% * (1/2) - 20px); } }
@media screen and (max-width: 400px) {
  .thumbnail-container a {
    width: calc(100% - 20px); } }

/*# sourceMappingURL=main.css.map */
